<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to iRecipe</title>
         <!-- Bootstrap 3.3.7 added -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link to app stylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <!-- link to jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
     <!-- link to js for Ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/query.js"></script>

      <link href="https://fonts.googleapis.com/css?family=Caveat|Caveat+Brush|Henny+Penny|Marcellus+SC|Marck+Script|Mountains+of+Christmas|Mystery+Quest|Rancho|Sniglet|Yesteryear" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-default navtop">
            <div class="container-fluid data-header">
                <div class="navbar-header navtext">
                  <a class="navbar-brand" id="navbartxt">iRecipe</a>
                </div>
            </div>
        </nav>
        <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Welcome to iRecipe</h1>

            {{{ body }}}
    </body>
</html>
